# virtual environment
.venv

__pycache__/

*.pyc

.ipynb_checkpoints/

logs/

cloned_repo

models/

# vector database
vector_store/chroma_db

# prompts 
prompt_summary.md

# environment variables
.env